.Footer {
    display: flex;
    padding: 16px;
}
.Footer--left {
    flex: 5;
    display: flex;
    justify-content: space-between;
}
.Footer--right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.Footer .Footer--left .btns .btn {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid #fff;
}
.darkBtn{
    color: #fff;
    background-color: #4daf54;
    border: none;
}
.lightBtn{
    background: #fff;
}
.Footer .btns .btn:hover {
    border: 1px solid #ebd7d7;
}
.act {
    color: #aaa;
}

.clearLight {
    border: none;
    background: #fff;
}
.clearLight:hover, .clearDark:hover{
    text-decoration: underline;
    cursor: pointer;
}
.clearDark {
    border: none;
    color: #fff;
    background: #3b3a3b;
}

.lightFt {
    color: #5a5858;
}
.darkFt {
    color: #fff;
}
.backLight {
    background-color: #fff;
}
.backDark {
    background-color: #3b3a3b;
}