.Footer {
    display: flex;
    padding: 16px;
}
.Footer--left {
    flex: 5;
    display: flex;
    justify-content: space-between;
}
.Footer--right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.Footer .Footer--left .btns .btn {
    margin-right: 10px;
    padding: 3px 6px;
    border-radius: 2px;
    outline: none;
    background: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.Footer .btns .btn:hover {
    border: 1px solid #ebd7d7;
}
.act {
    color: #aaa;
}

.clear {
    border: none;
    background: #fff;
    cursor: pointer;
}
.clear:hover {
    text-decoration: underline;
}